@use "../../scss/util/" as *;
@use "../../scss/global/" as *;

.container {
  overflow: hidden;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .text__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      overflow: hidden;
      display: flex;
      color: $warna-putih;
      font-size: 18vw;
      @include breakpoint(xxlarge) {
        font-size: rem(300);
      }
      span {
        cursor: default;
      }
    }
  }
}
