@use "../util/" as *;

.banner {
  // position: absolute;
  h2 {
    padding: 0 1rem 0 1rem;
    margin-top: 5rem;
    white-space: nowrap;
    display: inline-block;
    font-size: 15vw;
    background-color: var(--warna-biru);
    color: var(--warna-cream);
    transform: rotate(3deg) skew(-0.312rad);
    @include breakpoint(large) {
      font-size: 8vw;
    }
  }
}
// #ban1 {
//   top: 0;
// }
// #ban2 {
//   top: 10vw;
// }
// #ban3 {
//   top: 20vw;
// }
// #ban4 {
//   top: 30vw;
// }

.banner2 {
  // position: absolute;
  h2 {
    padding: 0 1rem 0 1rem;
    margin-top: 5rem;
    white-space: nowrap;
    display: inline-block;
    font-size: 15vw;
    background-color: #1c6dd0;
    color: var(--warna-cream);
    transform: rotate(-3deg) skew(0.312rad);
    @include breakpoint(large) {
      font-size: 8vw;
    }
  }
}
