.banner-section {
  // margin-top: 10vw;
  width: 100vw;
  height: 100vh;
  background-color: #fdf6f0;
  color: #fdf6f0;
  // @media screen and (min-width: 900px) {
  //   height: 200vh;
  // }
  // @media screen and (min-width: 1440px) {
  //   height: 100vh;
  // }
}
