.banner-section {
  // margin-top: 10vw;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background-color: var(--warna-cream);
  color: var(--warna-cream);
  // @media screen and (min-width: 900px) {
  //   height: 200vh;
  // }
  // @media screen and (min-width: 1440px) {
  //   height: calc(var(--vh, 1vh) * 100);
  // }
}
