@use "../util/" as *;

.container_marquee {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  white-space: nowrap;
  background-color: var(--warna-biru);
  color: var(--warna-cream);

  h2 {
    font-size: 18vw;
    @include breakpoint(large) {
      font-size: 10vw;
    }
  }
}
