@use "../util/" as *;
.nama_page {
  overflow: hidden;
  background-color: var(--warna-biru);
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--warna-biru);
  justify-content: center;
  text-transform: uppercase;
  @include breakpoint(small) {
    font-size: 1.5rem;
  }
  @include breakpoint(medium) {
    font-size: 2rem;
  }
  @include breakpoint(xlarge) {
    font-size: 2.5rem;
  }

  .cursor {
    display: none;
    pointer-events: none;
    @include breakpoint(large) {
      display: flex;
      position: fixed;

      top: 0;
      left: 0;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 1px solid var(--warna-cream);
      z-index: 100;
      &.masuk {
        // mix-blend-mode: difference;
        display: flex;
        align-items: center;
        justify-content: center;
        border: var(--warna-biru) solid 1px;
        // background-color: var(--warna-cream);
        font-size: 0.75rem;
        text-align: center;
      }
    }
  }

  .container {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22rem;
    height: 22rem;
    @include breakpoint(small) {
      width: 32rem;
      height: 32rem;
    }
    @include breakpoint(medium) {
      width: 42rem;
      height: 42rem;
    }
    @include breakpoint-WH(large) {
      width: 40rem;
      height: 40rem;
    }
    @include breakpoint(xlarge) {
      width: 52rem;
      height: 52rem;
    }
    .nama {
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        width: 100%;
      }
    }
    .bunder {
      position: absolute;
      background-color: var(--warna-cream);
      border-radius: 50%;
      width: 20rem;
      height: 20rem;

      z-index: 1;
      @include breakpoint(small) {
        width: 30rem;
        height: 30rem;
      }
      @include breakpoint(medium) {
        width: 40rem;
        height: 40rem;
      }
      @include breakpoint-WH(large) {
        width: 38rem;
        height: 38rem;
      }
      @include breakpoint(xlarge) {
        width: 50rem;
        height: 50rem;
      }
    }
    .bunder2 {
      position: absolute;
      border: var(--warna-cream) solid 2px;
      border-radius: 50%;
      width: 22rem;
      height: 22rem;
      z-index: 1;
      @include breakpoint(small) {
        width: 32rem;
        height: 32rem;
      }
      @include breakpoint(medium) {
        width: 42rem;
        height: 42rem;
      }
      @include breakpoint-WH(large) {
        width: 40rem;
        height: 40rem;
      }
      @include breakpoint(xlarge) {
        width: 52rem;
        height: 52rem;
      }
    }
  }
}
