@use "../../scss/global/" as *;
@use "../../scss/util/" as *;

.container {
  width: 100vw;
  max-width: 100%;
  height: 100%;
  .moving_text {
    margin-top: 2rem;
    will-change: transform;
    overflow: hidden;
    .text {
      align-items: center;
      justify-content: center;
      display: flex;
      h1 {
        cursor: default;
        color: $warna-putih;
        font-size: 25vw;
      }
    }
  }
}
