@use "../scss/util/" as *;

.haloContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  .text {
    display: flex;
    font-size: clamp(rem(56), 20vw + 1rem, 22rem);
    color: #bbe1fa;
  }
}
