@use "../../scss/global/" as *;

.container {
  will-change: transform;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: $warna-hitam, $alpha: 0);
  // backdrop-filter: blur(12px);
  z-index: 11;
}
