@use "../../scss/util/" as *;
@use "../../scss/global/" as *;

.container {
  width: 100vw;
  max-width: 100%;
  height: auto;
  position: relative;

  .skill_wrap {
    overflow: hidden;
    .text {
      align-items: center;
      justify-content: center;
      display: flex;
      h1 {
        cursor: default;
        color: $warna-putih;
        font-size: 25vw;
      }
    }
  }
  .wrapper {
    width: 100vw;
    max-width: 100%;
    height: auto;
    h1 {
      cursor: default;
      margin: 3rem 1rem;
      color: $warna-putih;
      font-size: 4rem;
      @include breakpoint(medium) {
        font-size: 4rem;
      }
      @include breakpoint(large) {
        font-size: 10rem;
      }
    }
    .box_wrap {
      margin: 0 1rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      @include breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include breakpoint(large) {
        grid-template-columns: repeat(3, 1fr);
      }
      .box {
        display: flex;
        border-radius: 1rem;
        background-color: $warna-hitam-cerah;
        min-width: 12rem;
        min-height: 12rem;
        @include breakpoint(large) {
          min-width: 25rem;
          min-height: 25rem;
        }
        .inner {
          flex: 1;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .text_container {
            align-self: flex-end;
            h1 {
              cursor: default;
              margin: 0;
              color: $warna-putih;
              font-size: 2rem;
              @include breakpoint(large) {
                font-size: 2.5rem;
              }
              @include breakpoint(xlarge) {
                font-size: 3.5rem;
              }
            }
          }
        }
      }
    }
  }
}
