@use "../../scss/global/" as *;
@use "../../scss/util/" as *;

.container {
  width: 100%;
  background-color: $warna-hitam-cerah;
  border-radius: 1.5rem;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  h1 {
    margin-top: 1rem;
    color: $warna-putih;
    font-size: 56px;
    @include breakpoint(large) {
      font-size: 100px;
    }
  }
  form {
    z-index: 4;
    width: 100%;
    padding: 2rem;
    input {
      margin-top: 1rem;
      outline: unset;
      border-radius: 2rem;
      padding: 1rem;
      background-color: $warna-hitam;
      width: 100%;
      color: $warna-putih;
      font-size: 16px;
    }
    textarea {
      margin-top: 1rem;
      outline: unset;
      border-radius: 1rem;
      padding: 1rem;
      background-color: $warna-hitam;
      width: 100%;
      color: $warna-putih;
      resize: none;
      font-size: 16;
    }
    button {
      margin-top: 1rem;
      border-radius: 2rem;
      padding: 1rem;
      background-color: $warna-hitam;
      width: 100%;
      color: $warna-putih;
      position: relative;
      justify-content: center;
      align-items: center;
      display: flex;
      overflow: hidden;
      .spiiner {
        width: rem(20);
      }
      .perspectiveText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        p {
          pointer-events: none;
          &:nth-of-type(2) {
            position: absolute;
            transform-origin: bottom center;
            transform: rotateX(-90deg) translateY(9px);
            color: $warna-hitam;
          }
        }
      }
      .overlay {
        z-index: 0;
        position: absolute;
        width: 100%;
        background-color: $warna-putih;
      }
    }
    h3 {
      color: $warna-putih;
      text-align: center;
      margin-top: 1rem;
    }
  }
}
