@use "../../scss/global/" as *;
@use "../../scss/util/" as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  overflow: hidden;
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: grab;
    &.drag {
      cursor: grabbing;
    }
    h1 {
      color: $warna-putih;
      white-space: nowrap;
      font-size: min(10vw, 5rem);
      margin-left: 1rem;
    }
    .foto_container {
      display: flex;
      justify-content: center;
      align-items: center;
      .foto_wrapper {
        overflow: hidden;
        width: min(50vw, 24rem);
        height: min(50vw, 24rem);
        margin: 0 1rem;
        .foto {
          transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
          width: min(50vw, 24rem);
          height: min(50vw, 24rem);
          &:hover {
            scale: 1.1;
          }
        }
      }
    }
  }
}
