@use "../../scss/global/" as *;
@use "../../scss/util/" as *;

.container {
  width: 100vw;
  height: 300vh;
  position: relative;
  .wrapper {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    @include breakpoint(large) {
      flex-direction: row-reverse;
    }
    .photo {
      width: 60vw;
      height: auto;
      max-width: 400px;
    }
    .text__wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      @include breakpoint(large) {
        gap: 1rem;
      }
      p {
        cursor: default;
        color: $warna-putih;
        font-size: 5vw;
        font-weight: 500;
        line-height: 1;
        @include breakpoint(large) {
          font-size: 3vw;
        }
        @include breakpoint(xxlarge) {
          font-size: 58px;
        }
      }
    }
  }
}
