@use "../../scss/global/" as *;
@use "../../scss/util/" as *;

.video__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999997;
  position: fixed;
  top: 0;
  overflow: hidden;
  .video {
    z-index: 9999997;
    width: 90vw;
    aspect-ratio: 16/9;
    overflow: hidden;
    @include breakpoint(large) {
      width: 80vw;
      max-width: rem(1450);
    }
  }
  .backdrop {
    z-index: 9999996;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(48, 48, 48, 0.7);
  }
}
