:root {
  --warna-biru: hsl(213, 76%, 46%);
  --warna-cream: hsl(28, 76%, 97%);
  --warna-merah: hsl(343, 81%, 53%);
  --warna-pink: hsl(353, 95%, 93%);
  --warna-pink-tua: hsl(352, 27%, 33%);
  --warna-kuning: hsl(46, 92%, 67%);
  --warna-kuning-tua: #b69c43;
  --warna-coklat: hsl(26, 57%, 89%);
  --warna-coklat-tua: #6b513d;
}
