@use "../../scss/global/" as *;
@use "../../scss/util/" as *;

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column-reverse;
  @include breakpoint(large) {
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
}
