@use "../../scss/util/" as *;
@use "../../scss/global/" as *;
.container {
  will-change: transform;
  position: fixed;
  top: 0.8rem;
  left: 0.8rem;
  bottom: 0.8rem;
  right: 0.8rem;
  border-radius: 2rem;
  background-color: $warna-putih;
  z-index: 12;
  @include breakpoint(medium) {
    left: unset;
    width: 100vw;
    max-width: 500px;
  }
  .wrapper {
    margin: 2rem;
    .perspectiveText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      transform-style: preserve-3d;
      h1 {
        pointer-events: none;
        cursor: pointer;
        margin: 1rem 0;
        text-transform: uppercase;
        font-size: clamp(3.5rem, 10vw, 80px);
        color: $warna-hitam;
        &:nth-of-type(2) {
          position: absolute;
          transform-origin: bottom center;
          transform: rotateX(-90deg) translateY(50px);
          color: $warna-hitam;
        }
      }
    }
  }
}
