@use "../../scss/global/" as *;
@use "../../scss/util/" as *;

.container {
  border-radius: 20rem;
  // backdrop-filter: blur(12px);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0rem;
  left: 0.8rem;
  right: 0.8rem;
  margin-top: 1rem;
  padding: 1rem;
  .name {
    h1 {
      font-size: clamp(rem(24), 1.5vw + 1rem, rem(50));
      color: $warna-putih;
      cursor: default;
    }
    .bounds {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: all;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
